body{
    padding: 0%;
    margin: 0%;
 }
 
 
  
 #middle{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(49, 54, 54);
     
     
    
 }
 #text{
    margin-top: 100px;
 }
 img{
    border-radius: 50px;
    border: black solid 4px;
    margin-top: 60px;
 }
 #buttom{
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
 }
  
 button{
    background-color: cadetblue;
    margin-top: 20px;
     
 }
 button:hover{
    cursor: pointer;
 }
 h1,p{
    color: azure;
 }
 #footer{
    display: flex;
    justify-content: center;
     
 }
 h2{
    margin-left: 30px;
 }
 #last{
    color: black;
    margin-left: 600px;
 }
 h5{
    margin-top: 30px;
 }
  
/* styling to navbar */
*{
   margin:0;
   padding: 0;
}

nav{
   background-color: #0077b6;
   position: fixed;
   width: 100%;
}


a{
   text-decoration: none;
   color:white;
   font-size: 30px;
}

ul{
   list-style: none;
}

li{
   display: inline-block;
   padding: 10px;
   margin-right: 20px;
   margin-left: 30px;
}

#signup{
   position: absolute;
   right: 100px;
}